{% assign certifications = site.data.certifications %} {% if certifications %}
<section class="section certifications-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
    </span>
    {{ certifications.title }}
  </h2>

  <div class="certification-cards-container">
    {% for certification_item in certifications.list %}
    <div class="certification-card">
      <div class="certification-header-row">
        <div class="certification-logo-column">
          {% if certification_item.issuer_logo_path %}
            <div class="logo-background-circle logo">
              <img src="{{ certification_item.issuer_logo_path | relative_url }}" alt="{{ certification_item.organization }} logo">
            </div>
          {% endif %}
        </div>
        <div class="certification-info-column">
          <h3 class="certification-title">{{ certification_item.name }}</h3>
          <div class="organization">{{ certification_item.organization }}</div>
          <div class="date-earned">
            <time>{{ certification_item.start }}</time>
            {% if certification_item.end %} - <time>{{ certification_item.end }}</time>{% endif %}
          </div>
          {% if certification_item.category %}
            <div class="category">Category: {{ certification_item.category }}</div>
          {% endif %}
          {% if certification_item.badge_icon_class %}
            <span class="badge-icon"><i class="{{ certification_item.badge_icon_class }}"></i></span>
          {% endif %}
        </div>
      </div>

      <div class="card-body">


        {% if certification_item.details_intro %}
        <div class="details">
          <div class="details-intro">{{ certification_item.details_intro | markdownify }}</div>
        </div>
        {% endif %}
        {% if certification_item.details_courses and certification_item.details_courses.size > 0 %}
        <div class="details">
          <div class="details-courses-list">
            <ul>
              {% for course in certification_item.details_courses %}
                <li>{{ course | markdownify }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
      </div>

      <div class="card-footer">
        {% if certification_item.file %}
          <a href="{{ certification_item.file | relative_url }}" target="_blank" rel="noopener noreferrer" class="certification-link">View Certificate <i class="fas fa-external-link-alt fa-xs"></i></a>
        {% elsif certification_item.folder_link %}
          <a href="{{ certification_item.folder_link | relative_url }}" target="_blank" rel="noopener noreferrer" class="certification-link">View Certificates <i class="fas fa-folder-open fa-xs"></i></a>
        {% endif %}
      </div>
    </div><!--//certification-card-->
    {% endfor %}
  </div><!--//certification-cards-container-->

</section>
<!--//section-->
{% endif %}
