---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include layout/head.html %}

<body data-default-theme="{{ site.theme_skin | default: 'ceramic' }}">
  <div class="wrapper">
    {% include layout/sidebar.html %}

    <div class="main-wrapper">
        {{ content }}
    </div>
  </div>

  {% include layout/footer.html %}
  <!-- Always include the theme selector; JS will control visibility based on URL -->
  {% if site.data.sidebar.show_theme_selector %}
  {% include components/theme-selector.html %}
  <script src="{{ '/assets/js/theme-selector.js' | relative_url }}"></script>
{% endif %}

{% include layout/scripts.html %}
</body>

</html>

